apiVersion: v1
kind: Secret
metadata:
  name: openai-secret
  namespace: kagent
type: Opaque
stringData:
  apiKey: "sk-proj-REPLACE_WITH_YOUR_KEY"
---
apiVersion: v1
kind: Secret
metadata:
  name: anthropic-secret
  namespace: kagent
type: Opaque
stringData:
  apiKey: "sk-ant-REPLACE_WITH_YOUR_KEY"
